In [1]:
import pandas as pd
import numpy as np

In [20]:
lgb1 = pd.read_csv('lgb_l1_0.05_0.4895_avg11_only.csv')
lgb2 = pd.read_csv('lgb_gamma_0.06_0.4865_avg11_only.csv')
lgb3 = pd.read_csv('lgb_l1_0.05_0.4892_avg10_only.csv')
lgb4 = pd.read_csv('lgb_gamma_0.05_0.4855_avg10_only.csv')

In [21]:
final = pd.DataFrame()
final['id'] = lgb1.id
final['num_orders'] = [0.1 * x + 0.3 * y + 0.1 * z + 0.5 * w for x,y,z,w in \
                       zip(lgb1.num_orders , lgb2.num_orders, lgb3.num_orders , lgb4.num_orders)]
final.head()

        id  num_orders
0  1028232   94.248708
1  1127204  103.580719
2  1212707  123.531521
3  1082698   64.237098
4  1400926   39.301142

In [22]:
final.to_csv('LGB_gamma_l1_avg11_avg10_1135.csv', index=False)